.card-body{
    text-align: center;
  
  
    }
    .card{
      // border-radius: 10%;
       /* margin: 3%; */
      transition: transform 0.5s;
    }
  
  
    .card:hover {
      transform: scale(1.09);
  
    }