
  <app-user-navbar></app-user-navbar>

  
    <section class="vh-100" style="background-color:rgba(240, 255, 255, 0.411);
    direction: rtl;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 15px; border:5px #080808 solid; background-color:transparent;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">تواصل معنا</p>
                      <p class="text-center h4 mb-5 mx-1 mx-md-4 mt-4">مستعدون لتأمين جميع طلباتكم الخاصة</p>
      
                      <form class="mx-1 mx-md-4" [formGroup]='ContactUsform' (ngSubmit)='submitContactUsform(ContactUsform)'>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="form3Example1c" formControlName='name' class="form-control" placeholder="الاسم كامل" />
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example3c" formControlName='email' class="form-control" placeholder="البريد الالكتروني"/>
                          </div>
                        </div>


                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fa-solid fa-message fa-lg me-3 fa-fw" style="color: #000000;"></i>
                            <div class="form-outline flex-fill mb-0">
                                <textarea class="form-control" formControlName='message' placeholder="نص الرسالة"></textarea>
                            </div>
                          </div>
      
                   
      
                        <div class="form-check d-flex justify-content-center mb-5">
                            <i class="fa-brands fa-facebook fa-2xl me-3 fa-fw" style="color: #080808;"></i>
                            <i class="fa-brands fa-square-instagram fa-2xl me-3 fa-fw" style="color: #0c0d0d;"></i>
                            <i class="fa-brands fa-square-twitter fa-2xl me-3 fa-fw" style="color: #0c0d0d;"></i>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <input type="submit" class="btn btn-primary btn-lg btn btn-warning" value="ارسال">
                        </div>
                      </form>
                    </div>
                    <!-- <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                      <img src="/assets/sweet.webp"
                        class="img-fluid" alt="Sample image">
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <app-footer></app-footer>

<!-- https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp -->