<app-user-navbar></app-user-navbar>
<div class="container-fluid main" style="direction: rtl;">
    <div class="row">
        <div class="head " ><h1>معلومات الشحن والتوصيل</h1></div>
        <hr>
    </div>
    <div class="row">
        <div class="col-6">
     <div class="card w-100 contact-details">
        <div class="header" style="font-size:1.5rem; text-align: center;"> <b> سياسة التوصيل والشحن</b></div>
        <br>
        <div class="list">
            <ul>
                <li>تتعهد شركة مدار صاحبة العلامة التجارية سويت سراي   بتوصيل الطلبات خلال فترة زمنية قدرها 4-6 أيام عمل لعملائها عقب تأكيدهم الطلب.</li>
                <li>يتلقى العملاء بريدًا إلكترونيًا أو مكالمة من قسم خدمة العملاء لشرح الوقت المتوقع للتوصيل.</li>
                <li>بعد ذلك يتم تأكيد المنتجات المشتراة عبر إرسال بريد إلكتروني إليك.</li>
                <li> إذا اخترت منتجًا غير متوفر في المخزون ، سيتم إبلاغك إما عبر البريد الإلكتروني أو عن طريق خدمة العملاء لدينا للتعامل مع الموقف.</li>
                <li>يتم توصيل المنتجات إلى شركات الشحن في غضون 1-3 أيام عمل لتجهيز الإجراءات وعملية الشراء.</li>
                <li>يختلف وقت توصيل الحلويات حسب الطلب وفقًا لمدة التحضير . ويتم إرسال بيانات التوصيل ووقته إليك تلقائيًا عبر البريد الإلكتروني على هيئة رابط ورقم تتبع للشحنة وأي تفاصيل أخرى تتعلق بتوصيل طلبك.</li>
                <li>وفي حالة حدوث تأخير من جانبنا سيتم إخطارك وفقًا لبيانات عضويتك. و لذلك يجب أن تكون بيانات عضويتك صحيحة وكاملة.</li>
                <li> لا يوجد شحن وتوصيل في أيام العطل.</li>
                <li>يتم توصيل جميع المنتجات المختارة إليك بشكل آمن ومضبوط من قبل شركة الشحن الخاصة بنا.</li>
                <li> عند إجراء الدفع عبر الإنترنت ، فإن مدة الإنتظار لدينا 4 أيام على الأقل و 30 يومًا على الأكثر. وإذا لم يتم توصيل المنتج إلى العميل خلال تلك الفترة، فسيتم رد المبلغ المدفوع.</li>
                <li>اي رسوم جمركية او ضرائب قد تطبق في بلد المستلم فهو المعني بدفعها لاستلام طلبه</li>
                <li>في حال تأخر العميل عن استلام الطلب من شركة الشحن وتسبب ذلك بتضرر الطلب فلا يحق للعميل المطالبة بتعويض او استرداد</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-6">
    <div class="card w-100 contact-details">
    
        <div class="header" style="font-size:1.5rem;  text-align: center;"> <b>  سياسة إعادة الطلبات واسترداد الأموال </b></div>
        <br>

        <div class="list">
            <ul>
                <li>إذا لم نتمكن من توصيل الحلويات لعملائنا في أقل من 30 يومًا ، فسيتم رد المبلغ المدفوع كاملاً.</li>
                
               <li> إذا ألغى العميل الطلب في غضون 24 ساعة من تأكيد الطلب ، فسيتم رد المبلغ المدفوع بعد خصم رسوم التجهيز.</li>
               <li>يجب على العميل إخطار خدمة العملاء عبر البريد الإلكتروني أو الهاتف قبل إرسال البضائع ويكون هو المسؤول عن أي رسوم شحن مرتجعة.ثم بعد فحص البضاعة بحثًا عن أي أضرار، يتم رد المبلغ المدفوع.</li>
               <li>بعد 15 يومًا من الشراء ؛ تعتبر المبيعات نهائية ولا يمكن إرجاعها.</li>
               <li>يتم رد المبلغ المدفوع. خلال فترة 15 يوم عمل.</li>
               <li>يُرجى السماح بخمسة أيام عمل أخرى لاستلام المبلغ المردود في حسابك المصرفي.</li>
            </ul>
        </div>
    </div>
</div>
</div>
    
</div>
<br>
<br>
<app-footer></app-footer>

