<app-navbar></app-navbar>
<div class="body"  style="direction: rtl;">
  <div class="col-md-12 space"></div>
  <div class="text-center">
    <h2 class="titlee">الخصومات الحالية</h2>
  </div>
  <div class="col-md-12" style="height: 2rem"></div>

  <div class="container">
    <table class="table table-borderless table-hover tablee">
      <thead>
        <tr>
          <th scope="col">اسم المنتج</th>
          <th scope="col">قيمة الخصم</th>
          <th scope="col">سعر المنتج قبل الخصم</th>
          <th scope="col">سعر المنتج بعد الخصم</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Discounts" class="mb-3">
          <td>{{ item.productName }}</td>
          <td>%{{ item.discountValue }}</td>
          <td>{{ item.productPrice }}</td>
          <td>{{ item.productPriceAfterDiscount }}</td>
          <td>
            <span class="badge badge-pill">
              <a [routerLink]="['/editdiscount', item.produtId]">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </span>
          </td>
          <td>
            <span class="badge badge-pill">
              <div>
                <a class="text-danger" (click)="deleteitem(item.produtId)">
                  <i class="fas fa-trash fa-lg"></i>
                </a>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-12 space"></div>
  </div>
</div>
<app-footer></app-footer>